<script setup>
import avatar1 from '@/assets/images/avatars/avatar-1.png'
import avatar2 from '@/assets/images/avatars/avatar-2.png'
import avatar3 from '@/assets/images/avatars/avatar-3.png'
import avatar4 from '@/assets/images/avatars/avatar-4.png'
import eCommerce2 from '@/assets/images/eCommerce/2.png'
import pages1 from '@/assets/images/pages/1.png'
import pages2 from '@/assets/images/pages/2.png'
import pages3 from '@/assets/images/pages/3.png'
import pages5 from '@/assets/images/pages/5.jpg'
import pages6 from '@/assets/images/pages/6.jpg'

const avatars = [
  avatar1,
  avatar2,
  avatar3,
  avatar4,
]
const isCardDetailsVisible = ref(false)

</script>

<template>
  <VRow>
    <VCol
      sm="12"
      md="6"
      v-for="product in products" :key="product.id" class="ma-md"
    >
      <VCard class="h-100">
        <div class="d-flex justify-space-between flex-wrap flex-md-nowrap flex-column flex-md-row">
          <div class="ma-auto pa-5">
            <VImg
              width="300"
              :src="product.thumbnail"
            />
          </div>

          <VDivider :vertical="$vuetify.display.mdAndUp" />

          <div>
            <VCardItem>
              <VCardTitle>{{ product.title }}</VCardTitle>
            </VCardItem>

            <VCardText>
              {{ product.description }}
            </VCardText>

            <VCardText class="text-subtitle-1">
              <span>Price :</span> <span class="font-weight-bold">${{ product.price }}</span>
            </VCardText>

            <VCardActions class="justify-space-between">
              <VBtn>
                <VIcon icon="mdi-cart-plus" />
                <span class="ms-2">Add to cart</span>
              </VBtn>

              <VBtn
                color="secondary"
                icon="mdi-share-variant-outline"
              />
            </VCardActions>
          </div>
        </div>
      </VCard>
    </VCol>

  </VRow>
</template>

<style lang="scss" scoped>
.avatar-center {
  position: absolute;
  border: 3px solid rgb(var(--v-theme-surface));
  inset-block-start: -2rem;
  inset-inline-start: 1rem;
}

// membership pricing
.member-pricing-bg {
  position: relative;
  background-color: rgba(var(--v-theme-on-surface), var(--v-hover-opacity));
}

.membership-pricing {
  sup {
    inset-block-start: 9px;
  }
}
</style>

<script>
import axios from 'axios'

export default {
  data(){
    return {
      products: []
    }
  },
  created() {
    axios.get('https://dummyjson.com/products?limit=5')
    .then(({data}) => {
      this.products = data.products
      console.log(data)
    })
    .catch(err => {
      console.log(err)
    })
  }
}
</script>